
<suite name="New Jenkins build jobs local/remote">
<listeners>
<listener class-name="listener.MyTestNGListener"/>
</listeners>
<test name="Jenkins new local build job">
<classes>
<class name="testcases.Session">
<methods>
<include name="newLocalBuild"/>
</methods>
</class>
</classes>
</test>
<test name="Jenkins run local build job">
<classes>
<class name="testcases.Session">
<methods>
<include name="createNewItem"/>
</methods>
</class>
</classes>
</test>
</suite>
<!--  Suite  -->