
<suite name="Jenkins new item">
<listeners>
<listener class-name="listener.MyTestNGListener"/>
</listeners>
<test name="Jenkins new item">
<classes>
<class name="testcases.Session">
<methods>
<include name="goToJenkins"/>
</methods>
</class>
<class name="testcases.Session">
<methods>
<include name="createNewItem"/>
</methods>
</class>
</classes>
</test>
</suite>
<!--  Suite  -->