
<suite name="DataDriven - Start">
<listeners>
<listener class-name="listener.MyTestNGListener"/>
</listeners>
<test name="DataDriven - Start">
<classes>
<class name="testcases.Session">
<methods>
<include name="openBrowserGit"/>
</methods>
</class>
<class name="testcases.Session">
<methods>
<include name="openBrowserSun"/>
</methods>
</class>
</classes>
</test>
</suite>
<!--  Suite  -->